.ui-datagrid-style .ui-datagrid-content {
    border: none;
    background: none;
}
.ui-datagrid-style .ui-widget-header{
    background: black;
    font-family: Trebuchet MS;
    color: white;
    text-shadow: none;
}

.ui-datagrid-style .ui-corner-all{
    border-radius: 0;
}

.ui-datagrid-style .ui-panel-title{
    font-weight: lighter;
    margin: 0;
    font-size: 16px;
}

.ui-datagrid-style .ui-paginator-page{
    background: white;
}

.ui-datagrid-style{
    padding: 50px;
}

.ui-datagrid-style .ui-widget{
    border: none;
    padding: 0;
}

.ui-datagrid-style .ui-button{
    background: whitesmoke;
    width:100%;
    border: none;
    padding: 0;
    margin: 0;
}
