<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>The Bearded Man</title>
        <link rel="stylesheet" href="stylesheet.css"/>
        <link rel="stylesheet" href="menu_style.css"/>
        <link rel="stylesheet" href="catalogo_style.css"/>
    </h:head>
    <h:body>
        

        <!-- HEADER -->
        <header id="header">
            <a href="index.xhtml">
                <img id="logo" src="resources/images/logo.png"/>
            </a>
        </header>

        <!-- MENU -->
        <h:form id="sticky">
            <div class="menu">
                <ul>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Novidades</p>
                            </div>
                            <div class="container_dois">
                                <a href="index.xhtml"><p class="texto_dois">Novidades</p></a>
                            </div>
                        </div>
                    </li>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Catálogo</p>
                            </div>
                            <div class="container_dois">
                                <a href="catalogo.xhtml"><p class="texto_dois">Catálogo</p></a>
                            </div>
                        </div>
                    </li>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Login</p>
                            </div>
                            <div class="container_dois">
                                <a href="login.xhtml"><p class="texto_dois">Login</p></a>
                            </div>
                        </div>
                    </li>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Pesquisar</p>
                            </div>
                            <div class="container_dois">
                                <div id="search">
                                    <form id="searchForm">
                                        <input type="text" id="search_text" name="search_text" placeholder="Pesquisar"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </h:form>
    
        <!-- NAVEGAÇÃO CATÁLOGO -->

                        
        <!-- Lista de Pecas --> 

        <p:dataGrid 
            var="item" value="#{ProdutoTemplateView.produtos}" columns="3" layout="grid"
             rows="15" paginator="true" id="produto"
             paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink}"
             styleClass="ui-datagrid-style">
            <p:panel header="#{item.descricao}" style="text-align:center">
                 <h:panelGrid columns="1" style="width:100%">
                     <img src="#{item.url}" style="height: 300px"/>

                     
                    <p:button outcome="peca_detalhe" icon="ui-icon ui-icon-search" style="margin:0 auto;"
                               title="Icon Only">
                        <f:param name="productid" value="#{item.id}" />
                    </p:button>

                 </h:panelGrid>
             </p:panel>
         </p:dataGrid>


        <!-- Rodapé -->
        <footer>
            <table>
                <tr>
                    <td class="tdmh">&copy; IES_G01</td>
                    <td>|</td>
                    <td class="tdmh"><a href="http://code.ua.pt/projects/ies-2015-2016-g01/wiki/Wiki" target="_blank">SOBRE NÓS</a></td>
                    <td>|</td>
                    <td class="tdmh"><a>AJUDA</a></td> 
                </tr>
            </table>
        </footer>

        <p:stack icon="/resources/images/stack.png" expanded="true">
            <p:menuitem value="Carrinho" icon="/resources/images/carrinho.png" url="carrinho_compras.xhtml"/>
            <p:menuitem value="Topo" icon="/resources/images/gttop.png" url="#"/>
            <p:menuitem value="Início" icon="/resources/images/home.png" url="index.xhtml"/>                     
        </p:stack>

    </h:body>
</html>