/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20/Nov/2015, 11:30:17
    Author     : seh
*/

body{
    font-family: Trebuchet MS;
}

#back{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#back img{
    width: 100%;
    margin: auto;
}

#login{
    width: 280px;
    height: 260px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

#login h1{
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

#login h2{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

#login p{
    margin: 0;
    color: #fff;
    font-size: 13px;
}

#login p.last{
    margin-top: 50px;
     color: #ddd;
}

form{
    margin: 20px 0;
}

.utilizador{
    background: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.utilizador input{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    float: left;
}

.utilizador i{
    background: #ccc;
    width: 30px;
    height: 33px;
    float: left;
    font-weight: bold;
    text-align: center;
    color: #f2f2f2;
    line-height: 30px;
}

form button{
    background: black;
    color: #fff;
    border: none;
    padding: 7px 15px;
    display: table;
    margin: 0 auto;
}

a{
    outline: none; 
    text-decoration: none;
    color: white;
}