<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>The Bearded Man</title>
        <link rel="stylesheet" href="login_style.css"/>
    </h:head>
    <h:body>        
        <nav>
            <div id="back"><img src="resources/images/login.jpg"/></div>
            <div id="login">
                <h1>LOGIN</h1>
                <h2>Hello gentleman!</h2>
                <p>Insert your login information right below</p>

                <h:form>
                    <div class="utilizador">
                        <i>@</i>
                        <h:inputText value="#{ClienteView.cliente.email}"/>
                    </div>
                    <div class="utilizador">
                        <i>#</i>
                        <h:inputSecret value="#{ClienteView.cliente.password}"/>
                    </div>
                    <div align="center">
                     <p:commandButton action="#{ClienteView.validLogin}" value="Login"/>
                     </div>
                </h:form>
                <p class="last">Pode registar-se <a href="registar.xhtml">aqui</a>, ou 
                    voltar à página inicial <a href="index.xhtml">aqui</a>.
                </p>
            </div> 
        </nav>
		
		<p:stack icon="/resources/images/stack.png" expanded="true">
            <p:menuitem value="Início" icon="/resources/images/home.png" url="index.xhtml"/>                     
        </p:stack>
		
    </h:body>
</html>
