<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>The Bearded Man</title>
        <link rel="stylesheet" href="stylesheet_catalogo.css"/>
        <link rel="stylesheet" href="menu_style.css"/>
    </h:head>
    <h:body>

        <!-- HEADER -->
        <header id="header">
            <a href="index.xhtml">
                <img id="logo" src="resources/images/logo.png"/>
            </a>
        </header>

        <!-- MENU -->
        <h:form id="sticky">
            <div class="menu">
                <ul>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Novidades</p>
                            </div>
                            <div class="container_dois">
                                <a href="index.xhtml"><p class="texto_dois">Novidades</p></a>
                            </div>
                        </div>
                    </li>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Catálogo</p>
                            </div>
                            <div class="container_dois">
                                <a href="catalogo.xhtml"><p class="texto_dois">Catálogo</p></a>
                            </div>
                        </div>
                    </li>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Username</p>
                            </div>
                            <div class="container_dois">
                                 <a href="index.xhtml"><p class="texto_dois">Logout</p></a>
                            </div>
                        </div>
                    </li>
                    <li class="botao_menu">
                        <div class="container_x">
                            <div class="container_um">
                                <p class="texto_um">Pesquisar</p>
                            </div>
                            <div class="container_dois">
                                <div id="search">
                                    <form id="searchForm">
                                        <input type="text" id="search_text" name="search_text" placeholder="Pesquisar"/>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            
        </h:form>
        <p:sticky target="sticky" />

        <!-- NAVEGAÇÃO -->
        <nav style="height: 800px">


        </nav>

        <!-- Rodapé > FAZER -->
        <footer>
            <table>
                <tr>
                    <td class="tdmh">&copy;IES_G01</td>
                    <td>|</td>
                    <td class="tdmh"><a href="http://code.ua.pt/projects/ies-2015-2016-g01/wiki/Wiki" target="_blank">SOBRE NÓS</a></td>
                    <td>|</td>
                    <td class="tdmh"><a>AJUDA</a></td> 
                </tr>
            </table>
        </footer>

        <!-- Stack Menu -->

        <p:stack icon="/resources/images/stack.png" expanded="true">
            <p:menuitem value="Carrinho" icon="/resources/images/carrinho.png" url="carrinho.xhtml"/>
            <p:menuitem value="Topo" icon="/resources/images/gttop.png" url="#"/>
            <p:menuitem value="Início" icon="/resources/images/home.png" url="#"/>                     
        </p:stack>

    </h:body>
</html>