<?xml version="1.0" encoding="UTF-8"?>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <title>The Bearded Man</title>
        <link rel="stylesheet" href="registar_style.css"/>
    </h:head>
    <h:body>        
        <nav>
            <div id="back"><img src="resources/images/login.jpg"/></div>
            <div id="registar">
                <h1>Registar</h1>
                <h2>Hello gentleman!</h2>
                <p>Fill the gaps!</p>

                <h:form>
                    <div class="boxes">
                        <i>Username</i>
                        <h:inputText value="#{ClienteView.cliente.nome}"/>
                    </div>
                    <div class="boxes">
                        <i>E-mail</i>
                        <h:inputText value="#{ClienteView.cliente.email}"/>
                    </div>
                    <div class="boxes">
                        <i>Confirmar</i>
                        <h:inputText value="#{ClienteView.cliente.email}"/>
                    </div>
                    <div class="boxes">
                        <i>Password</i>
                        <h:inputSecret value="#{ClienteView.cliente.password}" />
                    </div>
                    <div class="boxes">
                        <i>Morada</i>
                        <h:inputText value="#{ClienteView.cliente.morada}"/>
                    </div>
                    <div class="boxes">
                        <i>N. Contribuinte</i>
                        <h:inputText value="#{ClienteView.cliente.nContribuinte}"/>
                    </div>
                    <div class="boxes">
                        <i>Telemovel</i>
                        <h:inputText value="#{ClienteView.cliente.telemovel}"/>
                    </div>
                    <div align="center">
                        <input type="radio" id="radio1" name="radios" value="all"/>
                        <label for="radio1">Masculino</label>
                        <input type="radio" id="radio2" name="radios" value="false"/>
                        <label for="radio2">Feminino</label> 
                    </div>
                    <div style="margin-top: 10px" align="center">
                        <h:commandButton action="#{ClienteView.addCliente}" value="Registar"/>
                    </div>
                </h:form>
                <p class="last">
                    Clique <a href="index.xhtml">aqui</a> para voltar à página inicial.
                </p>
            </div> 
        </nav>

        <p:stack icon="/resources/images/stack.png" expanded="true">
            <p:menuitem value="Início" icon="/resources/images/home.png" url="index.xhtml"/>                     
        </p:stack>

    </h:body>
</html>
