/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 27/Nov/2015, 16:26:36
    Author     : seh
*/

body{
    font-family: Trebuchet MS;
}

#back{
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
}

#back img{
    width: 100%;
    margin: auto;
}

#registar{
    width: 380px;
    height: 420px;
    background: rgba(255,255,255,0.3);
    position: absolute;
    z-index: 9;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 20px;
}

#registar h1{
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
    font-size: 24px;
    text-align: center;
}

#registar h2{
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin: 0;
}

#registar p{
    margin: 0;
    color: #fff;
    font-size: 13px;
}

#registar p.last{
    margin-top: 50px;
     color: #ddd;
}

form{
    margin: 20px 0;
}

.boxes{
    background: #f4f4f4;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: 10px;
}

.boxes input{
    background: none;
    border: none;
    outline: none;
    font-size: 20px;
    padding: 5px;
    width: 200px;
    float: left;
}

.boxes i{
    background: #ccc;
    width: 120px;
    height: 33px;
    float: left;
    font-weight: bold;
    text-align: center;
    color: #f2f2f2;
    line-height: 30px;
}

form button{
    background: black;
    color: #fff;
    border: none;
    padding: 7px 15px;
    display: table;
    margin: 0 auto;
    margin-top: 20px;
}

a{
    outline: none; 
    text-decoration: none;
    color: white;
}

/* RADIO CHECK */
input[type=radio] {
    display:none;
}
 
input[type=radio] + label {
    display:inline-block;
    margin:-2px;
    padding: 4px 12px;
    margin-bottom: 0;
    font-size: 14px;
    line-height: 20px;
    color: #333;
    text-align: center;
    text-shadow: 0 1px 1px rgba(255,255,255,0.75);
    vertical-align: middle;
    cursor: pointer;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(top,#fff,#e6e6e6);
    background-image: -webkit-gradient(linear,0 0,0 100%,from(#fff),to(#e6e6e6));
    background-image: -webkit-linear-gradient(top,#fff,#e6e6e6);
    background-image: -o-linear-gradient(top,#fff,#e6e6e6);
    background-repeat: repeat-x;
    border: 1px solid #ccc;
    border-color: #e6e6e6 #e6e6e6 #bfbfbf;
    border-color: rgba(0,0,0,0.1) rgba(0,0,0,0.1) rgba(0,0,0,0.25);
    border-bottom-color: #b3b3b3;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff',endColorstr='#ffe6e6e6',GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,0.2),0 1px 2px rgba(0,0,0,0.05);
}
 
input[type=radio]:checked + label {
       background-image: none;
    outline: 0;
    -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
    box-shadow: inset 0 2px 4px rgba(0,0,0,0.15),0 1px 2px rgba(0,0,0,0.05);
        background-color:#e0e0e0;
}