*{
    margin: 0 auto;
    padding: 0;
    list-style-type: none;
}

#logo{
    display: block;
    max-width: 100%;
    height: auto;
    margin: 0 auto;
}

#header{
    /* background-image: url(resources/images/header.png); */
    margin-bottom: 10px; 
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
}

footer{
    background-color: white;
    width: 100%;
    height: 40px;
    clear: both;
    position: relative;
    text-align: center;
    font-family: Verdana;
    font-size: 10px;
}

td{
    width: 150px;
    height: 25px;
    transition: color 0.3s ease, padding 0.8s linear;
}
.tdmh:hover{
    color: gray;
}

.menu{
    background-color: white;
    padding: 0;
    margin: 0;
}

/* PARA LINKS */
a{
    outline: none; 
    text-decoration: none;
}
a:visited{
    color: inherit; 
}

/* HOME NEWS \ NOVIDADES */
/* IMAGENS conf. */
.img_conf1 {
    display: block;
    width:100%;
    height: auto;
    margin-bottom: 50px;
    margin-top: 50px;
}

/* SLIDES DE IMAGENS conf. */
.slide_news {
    position: relative;
    overflow: hidden;
}

.slide_news .slide_galeria.current {
    z-index: 1;
}

.slide_news .slide_galeria {
    top: 0;
    left: 0;
    z-index: 0;
    background: #fff;
    width:100%;
}

.slide_news .slide_galeria {
    position: relative;
}

#home_news .light {
    color: #ffffff;
}

.slide_galeria .elementos{
    position:absolute;
    width: 100%;
    font-family: 'Lato';
    font-size: 26px;
    font-weight: normal;
    letter-spacing: 0.15em;
    text-align: center;
    z-index: 2;
    top: 45%;
    margin: 0;
}

#slide_1 .elementos strong {
    font-size: 30px;
    letter-spacing: 0.2em;
}

.slide_galeria a.button {
    display: inline-block;
    position:relative;
    margin: 30px 15px 0 20px;
    background-color: transparent;
    font-size: 12px;
    letter-spacing: 0.13em;
    padding: 8px 28px;
}

.slide_galeria.light a.button {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.slide_galeria.light a.button:hover {
    background-color: #ffffff;
    color: #000000;
}

/* Stack */

.ui-stack{
    z-index: 3;
}