<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Caixa</title>
        <link rel="stylesheet" href="stylesheet.css"/>
    </h:head>
    <h:body>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    <h:form>
                        <h:panelGrid columns="2" cellpadding="20" style="background: rgba(255,255,255,0.3);">
                            <h:outputLabel for="id" value="ID: " />
                            <p:spinner id="id" value="#{adicionarView.id}" />

                            <h:outputLabel for="descricao" value="Descrição: " />
                            <p:inputTextarea rows="6" cols="24" id="descricao" value="#{adicionarView.descricao}"/> 

                            <h:outputLabel for="preco" value="Preço: " />
                            <p:spinner id="preco" value="#{adicionarView.preco}" stepFactor="0.01" />

                            <h:outputLabel for="tipo" value="Tipo: " />
                            <p:inputText id="tipo" value="#{adicionarView.tipo}"/>

                            <h:outputLabel for="estilo" value="Estilo: " />
                            <p:selectOneMenu id="estilo" value="#{adicionarView.estilo}" >
                                <f:selectItem itemLabel="Selecione" itemValue="" />
                                <f:selectItem itemLabel="A" itemValue="A" />
                                <f:selectItem itemLabel="B" itemValue="B" />
                                <f:selectItem itemLabel="C" itemValue="C" />
                                <f:selectItem itemLabel="D" itemValue="D" />
                                <f:selectItem itemLabel="E" itemValue="E" />
                                <f:selectItem itemLabel="F" itemValue="F" />
                                <f:selectItem itemLabel="G" itemValue="G" />
                                <f:selectItem itemLabel="H" itemValue="H" />
                            </p:selectOneMenu>

                            <h:outputLabel for="novidade" value="Novidade: " />
                            <p:selectBooleanButton id="novidade" value="#{adicionarView.novidade}" onLabel="Sim" offLabel="Não" onIcon="ui-icon-check" offIcon="ui-icon-close" />
                            
                            <h:outputLabel for="imagem" value="URL Imagem: " />
                            <p:inputText id="imagem" value="#{adicionarView.imagem}"/>
                            
                            <p:commandButton value="Submit" update="display" oncomplete="PF('dlg').show()" />
                        </h:panelGrid>

                        <p:dialog header="Confirmar Produto" widgetVar="dlg" showEffect="fold" hideEffect="fold">
                            <h:panelGrid id="display" columns="2" cellpadding="5">
                                <h:outputText value="ID: " />
                                <h:outputText value="#{adicionarView.id}" />

                                <h:outputText value="Descrição: " />
                                <h:outputText value="#{adicionarView.descricao}" />

                                <h:outputText value="Preço: " />
                                <h:outputText value="#{adicionarView.preco}" />

                                <h:outputText value="Tipo: " />
                                <h:outputText value="#{adicionarView.tipo}" />

                                <h:outputText value="Estilo: " />
                                <h:outputText value="#{adicionarView.estilo}" />

                                <h:outputText value="Novidade: " />
                                <h:outputText value="#{adicionarView.novidade}" />
                                
                                <h:outputText value="Imagem: " />
                                <img src="#{adicionarView.imagem}" height="100px"/>
                                
                                <p:button value="Confirmar"/>

                                
                            </h:panelGrid>


                        </p:dialog>
                    </h:form>
                </div>
            </div>
        </div>

    </h:body>
</html>

