<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <title>Caixa</title>
        <link rel="stylesheet" href="stylesheet.css"/>
    </h:head>
    <h:body>
        <div class="outer">
            <div class="middle">
                <div class="inner">
                    
                </div>
            </div>
        </div>

    </h:body>
</html>